<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppDatabase" connectionString="Database=MY.PROJECT.NAME.Temp; Data Source=.\SQLExpress;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>   
  
   <appSettings>
    <add key="Database.Storage.Path" value="C:\@Database.Files" />
   </appSettings>
</configuration>